


<div class="container w-100">

    <div class="row">
  
        <div class="col-md-4">
            <app-categorias></app-categorias>
        </div>

        <div class="col-md-8">
           
        <hr>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../assets/img/slide1_produtos.png" alt="Primeiro Slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/img/slide2_produtos.png" alt="Segundo Slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/img/slide3_produtos.png" alt="Terceiro Slide">
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div> 
            <hr>
        <div class="container mb-3">
           
            <h2 class="text-right mt-5 mb-3">Produtos</h2>
            <form class="form-inline my-2 my-lg-0 d-flex justify-content-end mb-3">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline my-2 my-sm-0" type="submit">Pesquisar</button>
              </form>
        </div>      
        <div class=" container ">
              <div class="row d-flex justify-content-between align-items-center ">
                <div class="col-md-4 mt-3" *ngFor="let item of listaProdutos | orderBy: key : reverse">
                    <div class="card mb-5   " style="width: 14rem; height: 26rem;" >
                        <img class="card-img-top" src="../../assets/img/card1.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <div >
                                <p class="card-text font-weight-bold mb-3  ">{{item.nameProduto}}</p>
                               
                            </div>
                            <div class="mb-1">
                                <p class="card-text " style="font-size: 12px;">{{item.descricaoProduto}}</p>
                            </div>
                            
                            <div class="mb-2">
                                <p class="card-text font-weight-bold">R$ {{item.precoProduto}}</p>        
                            </div>
                        
                        
                      
                       
                        
                            <div class="d-flex justify-content-center align-items-end">
                            <a  class="btn btn-outline mb-4  " (click)='venda()'> <img width="40px" height="25px" src="../../assets/img/carrinho-de-compras.svg" alt="...">Comprar</a>
                           
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            
           
        </div>
    
    </div>
</div>  
